.custom-header {
  background: linear-gradient(to right, #7AC1FF, #A7B5E4);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 75px;
}

.nav-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-grow: 1;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: 'Quicksand';
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #f0f0f0;
}
